<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{!-- everything we built must go directly between opening and closing body tags --}}
  {{{ body }}}

  {{!-- we can get rid of this on the other pages since we wrote it here --}}
  <a href="/">home</a>
  <a href="/movies">movies</a>
  <a href="/songs">songs</a>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>